@{
    ViewData["title"] = "Products";
}
<div class="container-fluid p-5  text-center" style="background-color:bisque;text-color:white;">
  <h1>Our different products available here</h1>
  <p>Here you can see different traditional products that are available with us and produce in Nepal.</p> 

</div>
  
<div class="container mt-5">
    <h1 class="container-fluid text-center"> Wooden Products</h1>
  <div class="row">
    <div class="col-sm-3" >
      <h3>Artistic Door</h3>
      <center><img src="~/image/artistic_door.png" alt="Artististic Door" style="height=620px; width:280px;" /></center>
      <p>These cools door are made by woods and the design is traditional one.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Lakhey Mask</h3>
      <center><img src="~/image/laks.png" alt="lakhey" style="height=500px; width:245px;" /></center>
      <p>Lakhey is the character of god. Mask of lakhey is used in festivals and that has its own history.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Window Carving</h3>        
     <center><img src="~/image/Hand-Crafted.png" alt="Window Carving" style="height=1000px; width:220px;" /></center><br />
      <p>The carving of the windows make your home more beautiful as of traditional .</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3">
      <h3>Statue</h3>        
      <center><img src="~/image/ganesh.png" alt="statue" style="height=500px; width:138px;" /></center>
      <p>Different statute made from the wood are used in different festivals in different community.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
   
  </div>
</div>



  
<div class="container mt-5">
    <h1 class="container-fluid text-center"> Woolean Products</h1>
  <div class="row">
    <div class="col-sm-3" >
      <h3>Woolen Jackets</h3>
      <center><img src="~/image/nepal-woolen-jacket.png" alt="Woolen Jackets" style="height=500px; width:285px;" /></center>
      <p>This warm,attractive,cozy and affortable woolen jackets is made of 100% wool </p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Woolen Gloves</h3>
      <center><img src="~/image/WL.png" alt="Woolen Gloves" style="height=700px; width:285px;" /></center>
      <p>During winter it keeps your hands warm. There are lots of design available with us.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Woolen Hat</h3>        
     <center><img src="~/image/woolen-hat-in-black.png" alt="Woolen Hat" style="height=700px; width:230px;" /></center><br />
      <p>This will helps you to protect from cold and it is cool too and can customize too.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3">
      <h3>Woolen Pancho</h3>        
      <center><img src="~/image/woolen-pancho.png" alt="Woolen Pancho" style="height=500px; width:290px;" /></center>
      <p>We offer high quality of Woolen Poncho, the base material is cashmere and wool.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
   
  </div>
</div>




<div class="container mt-5">
    <h1 class="container-fluid text-center"> Our Traditional Products</h1>
  <div class="row">
    <div class="col-sm-3" >
      <h3>Dhaka Topi</h3>
      <center><img src="~/image/topi.png" alt="Dhaka Topi" style="height=400px; width:160px;" /></center>
      <p>Nepali topi, is a hat which is popular in Nepal, and which forms part of Nepalese national dress.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Thaki</h3>
      <center><img src="~/image/thaki.png" alt="Thaki" style="height=700px; width:250px;" /></center>
      <p>The Theki is the traditional tools used in the process of butter churning in Nepal.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Dalo</h3>        
     <center><img src="~/image/dalo.png" alt="Dalo" style="height=500px; width:170px;" /></center><br />
      <p>DALO is a bamboo basket that is normally used to store dry food(rice, maize,pulses etc.).</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3">
      <h3>Doko</h3>        
      <img src="~/image/dko.png" alt="Doko" style="height=400px; width:200px;" />
      <p>Doko is a kind of basket made from bamboo. They are hand-woven in a V shape.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
   
  </div>
</div>




<div class="container mt-5">
    <h1 class="container-fluid text-center"> Other Products</h1>
  <div class="row">
    <div class="col-sm-3" >
      <h3>Khukuri</h3>
      <center><img src="~/image/KH0.png" alt="Khukuri" style="height=400px; width:200px;" /></center>
      <p>Khukuri is perpetuate the legacy of the bravest the Gurkha army, bringing Khukuri.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Pashmina</h3>
      <center><img src="~/image/pashmina-scarf.png" alt="Pashmina" style="height=700px; width:200px;" /></center>
      <p>Pashmina refers to a fine variant of spun cashmere, the animal-hair fibre forming the downy.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3" >
      <h3>Singing Bowl</h3>        
     <center><img src="~/image/Singing-Bowls.png" alt="Singing Bowl" style="height=500px; width:170px;" /></center><br />
      <p>A Tibetan singing bowl is a type of bell that vibrates and produces a rich, deep tone when played.</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
    <div class="col-sm-3">
      <h3>Pottery products</h3>        
      <img src="~/image/p_general.png" alt="Pottery products" style="height=400px; width:300px;" />
      <p>Pottery is the products of forming vessels and other objects with clay and other ceramic materials,</p>
      <button type="button" class="btn btn-success">Buy Now</button>
    </div>
   
  </div>
</div>