@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <div class="slider_detail-box">
                <h1 style="margin-top:75px; margin-left:70px;">
                      Nepal's <br/>
                      Traditional <br/>
                      products Available
                 </h1>
                 <p style=" margin-left:70px;">
                      This is the place where you can find different Nepal's traditional products as well as the 
                      information regarding them.
                  </p>
                  <div class="btn-box" style=" margin-left:70px;">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                  </div>
             </div>
        </div>
        <div class="col-md-6">
            <div class="slider_img-box">
                <img src="image/14284492-transformed.png" alt=""/>
            </div>
        </div>
    </div>
</div>
<style>
    .row{
        background-color:cornflowerblue
    }
   .slider_detail-box .btn-box a {
      display: inline-block;
      padding: 12px 40px;
      background-color: #feb543;
      color: #f9fcfb;
      border-radius: 25px;
      border: none;
      margin: 35px 0 50px 0;
    }
    .slider_detail-box .btn-box a:hover {
        background-color:purple;
    }

    .slider_img-box {
      width: 75%;
      margin: 0 auto;
    }

    .slider_img-box img {
        width: 520px;
        height:500px     
    }

 </style>